/*************************************************************
 * 
 * CSS樣式設定 - 管理員商品清單
 * By MaizuRoad
 * 
 *************************************************************/
.flex_table>.product {
   background-color: var(--alpha-20p);
   transition: background-color .3s ease-in-out;
   border-radius: 22px;
   padding: 5px 0;
}

.flex_table>.product:hover {
   background-color: var(--alpha-60p);
}