.profileCardBackground {
    margin: 0 auto;
}

.profileCard {
    /* display: flex; */
    width: 100%;
    margin: 0 auto;
    align-items: center;
    max-width: 650px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}

.profileCard img {
    height: 220px;
    width: 220px;
    object-fit: cover;
    border-radius: 50%;
    /* filter: grayscale(100%); */
    padding: 6px;
    margin: 0 auto 16px;
}

.profileCard .tag {
    border: 2px solid;
    font-size: 16px;
    border-radius: 10px;
    pointer-events: none;
    margin: 8px 10px 8px 0;
    height: max-content;
    width: max-content;
    display: inline-block;
    padding: 2px 14px;
    
}

.profileCard .displayname {
    display: block;
    font-size: 22px;
}

.profileCard .account {
    display: block;
    font-size: 16px;
}


.profileCard .description {
    margin-top: 30px;
    height: 140px;
    width: 100%;
    border: 5px solid;
    border-radius: 20px;
    padding: 8px;
    overflow-y: hidden;
    background-color: #FFFFFF;
    color: #000000;
}