{* 請從 $component.param 抓取元件參數 *}

<!-- announcement -->
<div class="announcement secondaryBackground">
    <div class="announcementTabs">
        {foreach $component.param as $announcement}<button
            class="announcementTab{if $announcement@first} announcementActive{/if}"
            onclick="announcementSwitch(event, '{$announcement.title}')">{$announcement.title}</button>
        {/foreach}
    </div>
    <hr>
    <div class="announcementContent">
        {foreach $component.param as $announcement}
        <div class="announcementContentText" id="{$announcement.title}">
            {$announcement.content}
        </div>
        {/foreach}
    </div>
</div>
<!-- announcement EOF -->