<h1 style="margin-top: 50px;">資訊</h1>
<div style="margin: 0 auto;padding-bottom: 100px;">
    {$rinfo}
</div>

<span>目前尚有需多功能設計中...</span><br />
<span>前端設計師: <code>Suyin77(輸贏氣氣)</code>、<code>MaizuRoad(馬祖路)</code></span><br />
<span>後端工程師: <code>MaizuRoad(馬祖路)</code>、<code>SN-Koarashi(小嵐)</code></span>
<hr />
<span>登入帳戶: <code onclick="route('/account/?account={$member.account}')">@{$member.account}</code></span><br />
<span>登入帳戶ID: <code onclick="copyContent(this.innerText)">{$member.mid}</code></span>
<hr />
<span>雪花算法ID: <code onclick="copyContent(this.innerText)">{$snowflow}</code></span><br />
<span>當前Unix時間戳: <code id="now__timestamp" onclick="copyContent(this.innerText)">{$timestamp}</code></span><br />
<span>當前C#時間戳: <code id="now__cstimestamp" onclick="copyContent(this.innerText)">{$cstimestamp}</code></span><br />
<span>當前時間: <code id="now__time" onclick="copyContent(this.innerText)">載入中..</code></span>
<pre style="color: var(--succ);">
.....................................................
.                 _                               _ .
.                (_)                             | |.
. _ __ ___   __ _ _ _____   _ _ __ ___   __ _  __| |.
.| '_ ` _ \ / _` | |_  / | | | '__/ _ \ / _` |/ _` |.
.| | | | | | (_| | |/ /| |_| | | | (_) | (_| | (_| |.
.|_| |_| |_|\__,_|_/___|\__,_|_|  \___/ \__,_|\__,_|.
.....................................................
</pre>
<pre style="color: var(--primary-ft);">
-------------------------------------------------------------------------------
Language                     files          blank        comment           code
-------------------------------------------------------------------------------
PHP                            346           1889          15090          27037
CSS                             31           2450            693           7348
JavaScript                      27            835            706           4014
HTML                            56            146            425           2702
SQL                              2             31             43            401
JSON                            76              0              0            160
Smarty                           1             24              0            151
Markdown                         3              3              0            110
INI                              1              4              0             38
Bourne Shell                     2              3              8             26
SVG                              4              0              1             12
Text                             2              0              0              3
-------------------------------------------------------------------------------
SUM:                           551           5385          16966          42002
-------------------------------------------------------------------------------
</pre>
<pre style="color: var(--warn);">
 ⣠⣴⣶⢶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣶⣦⣤⠀
⢰⣿⡿⠋⣽⣿⡟⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇
⢸⣿⣿⣿⣦⡙⠃⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠋⣉⣉⣉⣉⣉⠉⠻⣿⣿⡇
⢸⣿⣽⣿⣶⣶⣦⣹⣿⣿⣿⣿⣿⠿⠋⣁⣴⣾⣿⣿⣿⣿⣿⣿⣿⣦⡈⠻⡇
⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⢁⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡄⠁
⢸⣿⣿⣿⣿⣿⣿⣿⣿⠟⢁⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀
⢸⣿⣿⣿⣿⣿⣿⡟⢁⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀
⢸⣿⣿⣿⣿⣿⠏⣠⣾⣿⣿⣿⣿⣿⣿⡿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀
⢸⣿⣿⣿⡿⠁⣼⣿⣿⣿⣿⠿⠿⠿⣿⣿⣦⡙⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀
⢸⣿⣿⡿⠁⣼⣿⣿⣿⠟⠁⠀⢀⣴⣿⣿⣿⣷⠀⢻⣿⣿⣿⣿⣿⣿⣿⡿⠀
⢸⣿⡟⢁⣾⣿⣿⣟⠁⠀⢀⣄⠙⢿⣿⣿⣿⣿⡇⠀⣿⣿⣿⣿⣿⣿⣿⠃⡄
⢸⣿⠃⣼⣿⣿⣿⣿⣷⣴⣿⣿⣧⡀⠙⢿⣿⣿⡟⠀⢸⣿⣿⣿⣿⣿⡏⢠⡇
⢸⠃⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡀⠙⠿⠁⠀⣾⣿⣿⣿⣿⡟⢡⣿⡇
⠘⢀⣿⣿⣿⣿⣿⣿⡿⢁⣀⡉⠛⠻⠟⠛⠀⠀⠀⠼⣿⣿⣿⣿⡿⢁⣾⣿⡇
⠀⣸⣿⣿⣿⣿⠟⠁⢠⣿⣿⣿⣶⣤⣤⣤⣤⣴⣄⠀⠙⢿⣿⡿⢁⣾⣿⣿⡇
⠀⣿⣿⣿⣿⣿⣤⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣤⣼⡟⢡⣿⣿⣿⣿⡇
⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢏⣰⣿⣿⣿⣿⣿⡇
⠀⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⣡⣾⣿⣿⣿⣿⣿⣿⡇
⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢋⣾⣿⣿⣿⣿⣿⣿⣿⣿⡇
⢠⠈⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣋⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇
⢸⣧⡈⠻⣿⣿⣿⣿⣿⣿⣿⣿⠟⢋⣵⣾⣿⣿⣿⣿⣿⣿⣿⠟⣻⣿⢿⣿⡇
⢸⣿⣿⣦⣄⣉⣉⣉⣉⣉⣥⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣶⣿⢿⠟⣿⡇
⠸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢫⣯⣛⣩⡜⢿⡇
⠀⠙⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠿⠟⠁
</pre>