<div class="flex_table">
    <div class="title">
        <span class="fa-solid fa-{if isset($page_information.icon)}{$page_information.icon}{else}star{/if}"></span>
        <span>{if isset($page_information.displayname)}{$page_information.displayname}{else}未命名功能{/if}</span>
    </div>
    <div class="flex_th allergic">
        <div class="flex_td" style="flex:2;">
            頁面名稱
        </div>
        <div class="flex_td">
            狀態
        </div>
        <div class="flex_td">
            操作
        </div>
    </div>
    {foreach $pages_list as $page}
    <div class="flex_tr allergic">
        <div class="flex_td" style="flex:2;">
            <a href="/?route={$page.name}" target="_blank">
                <span class="buttonicon fa-solid fa-{if $page.status eq 2}screwdriver-wrench{else}star{/if}"></span>
                <span class="word">{$page.displayname} <span style="color: var(--accent-ft);">({$page.name})</span></span>
            </a>
        </div>
        {if $page.status eq 2}
        <div class="flex_td" style="text-align: center;">
            <span class="warn">* 特殊</span>
        </div>
        {else}
        <form class="flex_td" method="POST" onsubmit="return false;">
            <label class="switch" style="margin: 0 auto;">
                <!-- {*$SERVER_IV*} iv 為隨訊息產生之初使化變量 -->
                <input name="iv" type="hidden" value="{$SERVER_IV}" />
                <!-- {*$SERVER_SEND_HASH_DATA*} hash 為加密後的資訊 需要key解鎖 -->
                <input name="hash" type="hidden" value="{$page.hashdata}" />
                <input name="action" type="hidden" value="PAGE_CHANGE_STATUS" />
                <input type="checkbox" onchange="return done(this.form, false , '', false);" {if
                    $page.status}checked{/if}>
                <span class="slider"></span>
            </label>
        </form>
        {/if}
        <!-- <div class="flex_td">
            <div class="flex_tr">
                <button class="succ" onclick="route('/?route={$page.name}')">
                    <span class="fa-solid fa-eye"></span>
                    <span class="tabletsHidden">檢視</span>
                </button>
            </div>
        </div> -->
        <div class="flex_td" style="text-align: center;">

            <div class="flex_tr">
                <button onclick="route('manage.page&pid={$page.id}')">
                    <span class="fa-solid fa-pen"></span>
                    <span class="tabletsHidden">編輯</span>
                </button>
            </div>
            {if $page.status eq 2}
            <div class="flex_tr">
                <button onclick="return false" disabled>
                    <span class="fa-solid fa-ban"></span>
                    <span class="tabletsHidden">刪除</span>
                </button>
            </div>
            {else}
            <form class="flex_tr" method="POST" onsubmit="return done(this, 'refresh' , '', false);">
                <!-- {*$SERVER_IV*} iv 為隨訊息產生之初使化變量 -->
                <input name="iv" type="hidden" value="{$SERVER_IV}" />
                <!-- {*$SERVER_SEND_HASH_DATA*} hash 為加密後的資訊 需要key解鎖 -->
                <input name="hash" type="hidden" value="{$page.hashdata}" />
                <input name="action" type="hidden" value="PAGE_DELETE" />
                <button class="warn">
                    <span class="fa-solid fa-trash-can"></span>
                    <span class="tabletsHidden">刪除</span>
                </button>
            </form>
            {/if}

        </div>
    </div>
    {/foreach}
    <hr />
    <div class="flex_tr" style="justify-content: center;">
        <button style="width: 80%;" onclick="route('create.page')">
            <span class="fa-solid fa-square-plus"></span>
            <span>新增頁面</span>
        </button>
    </div>
</div>
<details>
    <summary style="margin: 0 auto;width: 100%;color: gray; text-align: center;">
        查看說明
    </summary>
    <div class="flex_table">
        <div class="title">
            <span class="fa-solid fa-{if isset($page_information.icon)}{$page_information.icon}{else}star{/if}"></span>
            <span>{if isset($page_information.displayname)}{$page_information.displayname}{else}未命名功能{/if}-說明</span>
        </div>
        <div style="width: 80%;margin: 50px auto;">
            <img src="/assets/images/navabrdemo.gif" style="width: 100%;">
        </div>
        <div style="width: 80%;margin: 50px auto;">
            導覽列具有主要及次級導覽列，可透過此處新增
        </div>
    </div>
</details>