:root { 
    --sunbaby-bg: #212121;
    --nav-bg: #373737;
    --nav-btn-ft: #FFFFFF;
    --nav-btn-bg: transparent;
    --nav-btn-hover-ft: #2879F6;
    --nav-btn-hover-bg: transparent;
    --nav-icon-ft: #FFFFFF;
    --nav-icon-bg: transparent;
    --nav-dropdown-bg: #0F0F0F99;
    --link-ft: #FFFFFF;
    --link-hover-ft: #FFFFFF;
    --code-ft: #2879F6;
    --code-hover-ft: #2879F6;
    --warn: #FF6363;
    --prom: #FEC142;
    --succ: #33CD4B;
    --warn-hover: #CC3131;
    --prom-hover: #F49C2A;
    --succ-hover: #2CA043;
    --primary-ft: #FFFFFF;
    --accent-ft: #2879F6;
    --secondary-ft: ;
    --primary-bg: #2879F6;
    --accent-bg: #2879F6;
    --secondary-bg: ;
    --switch-slider: #FFFAF4;
    --switch-slider-checked-bg: #4A7056;
    --switch-slider-checked-hover-bg: #96A48B;
    --switch-slider-bg: #965454;
    --switch-slider-hover-bg: #A27E7E;
    --primary-btn-ft: #FFFFFF;
    --primary-btn-hover-ft: #2879F6;
    --accent-btn-ft: #FFFFFF;
    --accent-btn-hover-ft: #1B4F9E;
    --secondary-btn-ft: ;
    --secondary-btn-hover-ft: ;
    --primary-btn-bg: #2879F6;
    --primary-btn-hover-bg: #FFFFFF;
    --accent-btn-bg: #1B4F9E;
    --accent-btn-hover-bg: #FFFFFF;
    --secondary-btn-bg: ;
    --secondary-btn-hover-bg: ;
    --logout-btn-ft: #FFFFFF;
    --logout-btn-hover-ft: #965454;
    --logout-btn-bg: #965454;
    --logout-btn-hover-bg: #FFFFFF;
    --scrollbar-track: #FFFAF4;
    --scrollbar-thumb: #888888;
    --scrollbar-thumb-hover: #555555;
    --shadow: #0F0F0F33;
    --alpha: transparent;
    --alpha-10p: #0F0F0F1A;
    --primary-bg-alpha10p: #2879F61A;
    --accent-bg-alpha10p: ;
    --secondary-bg-alpha10p: ;
    --succ-alpha10p: #33CD4B1A;
    --warn-alpha10p: #FF63631A;
    --prom-alpha10p: #FEC1421A;
    --alpha-20p: #0F0F0F33;
    --primary-bg-alpha20p: #2879F633;
    --accent-bg-alpha20p: ;
    --secondary-bg-alpha20p: ;
    --succ-alpha20p: #33CD4B33;
    --warn-alpha20p: #FF636333;
    --prom-alpha20p: #FEC14233;
    --alpha-30p: #0F0F0F4D;
    --primary-bg-alpha30p: #2879F64D;
    --accent-bg-alpha30p: ;
    --secondary-bg-alpha30p: ;
    --succ-alpha30p: #33CD4B4D;
    --warn-alpha30p: #FF63634D;
    --prom-alpha30p: #FEC1424D;
    --alpha-40p: #0F0F0F66;
    --primary-bg-alpha40p: #2879F666;
    --accent-bg-alpha40p: ;
    --secondary-bg-alpha40p: ;
    --succ-alpha40p: #33CD4B66;
    --warn-alpha40p: #FF636366;
    --prom-alpha40p: #FEC14266;
    --alpha-50p: #0F0F0F80;
    --primary-bg-alpha50p: #2879F680;
    --accent-bg-alpha50p: ;
    --secondary-bg-alpha50p: ;
    --succ-alpha50p: #33CD4B80;
    --warn-alpha50p: #FF636380;
    --prom-alpha50p: #FEC14280;
    --alpha-60p: #0F0F0F99;
    --primary-bg-alpha60p: #2879F699;
    --accent-bg-alpha60p: ;
    --secondary-bg-alpha60p: ;
    --succ-alpha60p: #33CD4B99;
    --warn-alpha60p: #FF636399;
    --prom-alpha60p: #FEC14299;
    --alpha-70p: #0F0F0FB3;
    --primary-bg-alpha70p: #2879F6B3;
    --accent-bg-alpha70p: ;
    --secondary-bg-alpha70p: ;
    --succ-alpha70p: #33CD4BB3;
    --warn-alpha70p: #FF6363B3;
    --prom-alpha70p: #FEC142B3;
    --alpha-80p: #0F0F0FCC;
    --primary-bg-alpha80p: #2879F6CC;
    --accent-bg-alpha80p: ;
    --secondary-bg-alpha80p: ;
    --succ-alpha80p: #33CD4BCC;
    --warn-alpha80p: #FF6363CC;
    --prom-alpha80p: #FEC142CC;
    --alpha-90p: #0F0F0FE6;
    --primary-bg-alpha90p: #2879F6E6;
    --accent-bg-alpha90p: ;
    --secondary-bg-alpha90p: ;
    --succ-alpha90p: #33CD4BE6;
    --warn-alpha90p: #FF6363E6;
    --prom-alpha90p: #FEC142E6;
}

/* LastUpdate: 2024-03-29 15:35:50 */