<!--Script-------------------------------------------------------------------------------------------------->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>
<script src="/javascripts/function.utils.js?v={$version}" type="text/javascript"></script>
{section name=i loop=$js}
<script type="text/javascript" src="{$js[i]}?v={$version}"></script>
{sectionelse}<!-- no js -->{/section}
<script>
    const pageEndTime = performance.now();
    console.log("[page_loaded] Time spent: " + Math.round(pageEndTime - pageStartTime) + " milliseconds.");
    // 禁用F12功能
    // document.onkeydown = function(e) {
    //     if (event.keyCode == 123) {
    //         return false;
    //     } else if (e.ctrlKey && e.shiftKey && e.keyCode == 73) {
    //         return false;
    //     }
    // };
</script>
</body>

</html>