{* 請從 $component.param 抓取元件參數 *}

<!-- buy_membership -->

<div class="buy_membership_container">
	<article class="buy_membership_card" >
		<div class="buy_membership_content mainColor">
			<div class="buy_membership_details">
				<h1>
					VIP
				</h1>
				<em>一些文字</em>
				<h3>
					$2.00 USD
				</h3>
				<h5>/ 每月</h5>
				<ul>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
				</ul>
			</div>
		</div>
		<button>
			BUY
		</button>
	</article>
	<article class="buy_membership_card" >
		<div class="buy_membership_content mainColor">
			<div class="buy_membership_details">
				<h1>
					MVP
				</h1>
				<em>一些文字</em>
				<h3>
					$2.00 USD
				</h3>
				<h5>/ 每月</h5>
				<ul>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
				</ul>
			</div>
		</div>
		<button>
			BUY
		</button>
	</article>
	<article class="buy_membership_card" >
		<div class="buy_membership_content mainColor">
			<div class="buy_membership_details">
				<h1>
					MVP PLUS
				</h1>
				<em>一些文字</em>
				<h3>
					$2.00 USD
				</h3>
				<h5>/ 每月</h5>
				<ul>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
					<li><span class="material-icons secondaryColor"></span>　一些文字.</li>
				</ul>
			</div>
		</div>
		<button>
			BUY
		</button>
	</article>

</div>
<!-- buy_membership EOF -->