{* 請從 $component.param 抓取元件參數 *}

<!-- login -->
<div class="login-background">
    <div class="login" style="background-color: rgba(0,0,0,.2);">
        <h2>LOGIN</h2>
        <div class="logo">
            <a href="#這顆按鈕沒啥屁用只是跟你說Hello"><img class="mainBorderColor" src="{$icon}" /></a>
        </div>
        <form class="login-form" method="POST"
            onsubmit="return done(this, '{$SERVER_API_URL}', '?route=member' , 'LOGIN_ERROR_MESSAGE');">
            {if $component.param.method eq "only steam"}
            <div style="text-align: center;">我們將遵守協議 <a href="https://steamcommunity.com/dev/apiterms"
                    target="_blank">[Steam Web API Terms of Use]</a></div>
            {else if $component.param.method eq "only line"}
            <!-- bruh 目前還沒寫好 -->
            {else if $component.param.method eq "only facebook"}
            <!-- bruh 目前還沒寫好 -->
            {else if $component.param.method eq "only discord"}
            <!-- bruh 目前還沒寫好 -->
            {else}
            <div class="login-textbox">
                <input value="" type="text" placeholder="Account" name="account" id="account" maxlength="18"
                    pattern="[a-zA-Z0-9\._\-#@$]+" required />
                <span class="material-icons">&#xe7fd</span>
            </div>
            <div class="login-textbox">
                <input type="password" placeholder="Password" name="password" id="password" maxlength="513"
                    onfocus="clearInput(this)" oninput="sha256(this)" hash="" required />
                <span class="material-icons">&#xe73c</span>
            </div>
            <!-- ERROR MESSAGE {* $LOGIN_ERROR_MESSAGE 為 PHP 印製之錯誤訊息，不用理它. *} -->
            <span id="LOGIN_ERROR_MESSAGE" class="delete">{if
                isset($LOGIN_ERROR_MESSAGE)}{$LOGIN_ERROR_MESSAGE}{else}&nbsp;{/if}</span>
            <!-- {*$SERVER_IV*} iv 為隨訊息產生之初使化變量 -->
            <input name="iv" type="hidden" value="{$SERVER_IV}" />
            <!-- {*$SERVER_SEND_HASH_DATA*} hash 為加密後的資訊 需要key解鎖 -->
            <input name="hash" type="hidden" value="{$SERVER_SEND_HASH_DATA}" />
            <!-- 動作代碼 -->
            <button name="action" value="USER_LOCAL_LOGIN" type="submit">LOGIN</button>
            <a href="?route=register">沒有帳號嗎? 建立一個新用戶</a>
            {/if}
            <a class="backhome" href="?route=home">BACK</a>
        </form>
    </div>
</div>
<!-- login EOF-->