{* 請從 $component.param 抓取元件參數 *}

<!-- signup -->
<div class="login-background">
    <div class="login" style="background-color: rgba(0,0,0,.2);">
        <h2>REGISTER</h2>
        <!-- <div class="logo">
            <a href="#點了不會怎樣，登入頁面也有這個沒屁用的功能"><img src="/assets/images/logo.png" /></a>
        </div> -->
        <!-- <span id="passwordHint" style="display: block;margin: 16px 0px;">&nbsp;</span> -->
        <form class="login-form" method="POST"
            onsubmit="return done(this, '{$SERVER_API_URL}', '?route=login' , 'LOGIN_ERROR_MESSAGE');">
            <div class="login-textbox">
                <input value="" type="text" placeholder="Nickname" name="nickname" id="nickname" maxlength="18"
                    required />
                <span class="material-icons">&#xef73</span>
            </div>
            <div class="login-textbox">
                <input value="" type="text" placeholder="Account" name="account" id="account" maxlength="18"
                    pattern="[a-zA-Z0-9\._\-#@$]+" required />
                <span class="material-icons">&#xe853</span>
            </div>

            <div class="login-textbox">
                <input type="password" placeholder="Password" name="password" id="password" required
                    onfocus="clearInput(this)" oninput="sha256(this)" hash="" />
                <span class="material-icons">&#xe73c</span>
            </div>

            <div class="login-textbox">
                <input type="password" placeholder="Enter the password again" name="passwordCheck" id="passwordCheck"
                    required maxlength="513" onfocus="clearInput(this)" oninput="sha256(this)" />
                <span class="material-icons">&#xe73c</span>
            </div>
            <span id="LOGIN_ERROR_MESSAGE" class="delete">&nbsp;</span>
            <!-- {*$SERVER_IV*} iv 為隨訊息產生之初使化變量 -->
            <input name="iv" type="hidden" value="{$SERVER_IV}" />
            <!-- {*$SERVER_SEND_HASH_DATA*} hash 為加密後的資訊 需要key解鎖 -->
            <input name="hash" type="hidden" value="{$SERVER_SEND_HASH_DATA}" />
            <button name="action" value="USER_REGISTER" type="submit">SIGN UP!!</button>
            <br />
            <a class="backhome" href="?route=login">BACK LOGIN</a>
        </form>
    </div>
</div>
<!-- signup EOF-->